<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <appSettings>
    <add key="net.webservicex.www.periodictable" value="http://www.webservicex.net/periodictable.asmx"/>
    <add key="net.webservicex.www.Statistics" value="http://www.webservicex.net/Statistics.asmx"/>
    <add key="net.webservicex.www.ConvertTemperature" value="http://www.webservicex.net/ConvertTemperature.asmx"/>
    <add key="net.webservicex.www.ConvertSpeed" value="http://www.webservicex.net/ConvertSpeed.asmx"/>
    <add key="net.webservicex.www.ConvertWeight" value="http://www.webservicex.net/ConvertWeight.asmx"/>
  <add key="net.webservicex.www.ConvertComputer" value="http://www.webservicex.net/ConvertComputer.asmx"/>
  </appSettings>
</configuration>